# macOS system files to ignore
.DS_Store

# Thumbnails files created by macOS
._*

# Folder config file
.AppleDouble

# Folder metadata
.Spotlight-V100
.Trashes

# Finder information files
.fseventsd

# Virtual Environment
__pycache__/
venv/
.idea/
*.DS_Store

# Python cache
__pycache__/

# Jupyter Notebook checkpoint files
.ipynb_checkpoints/

# Log files
*.log

# Dataset Files
Data.nosync+
*.parquet